#buttondemo{
	color            : #446620;
	background-color : linear-gradient(#87c44a, #b4da77);
	border-width     : 1px;
	border-color     : #84a254;
	border-style     : solid;
	border-radius    : 10px;
	font-size        : 13px;
}

.normalButton{
	background-color : linear-gradient(#CEDCE7, #596a72);
	border-width     : 2px;
	border-color     : black;
	border-radius    : 8px;
	border-style     : solid;
	font-weight: bold;
}